/* styles.css en la carpeta estilos */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #333;
}

/* Agrega más estilos aquí según tus preferencias */
